<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
</head>
<body>
    

   <div id='app'></div>



   <script>
   
    Vue.component('Test',{
        props:{
           valueb:String,
           valuec:String
        },
        data(){
            return{
               value1:this.valueb,
               value2:this.valuec
            }
        },
        watch:{
            valueb(val){
                this.value1 = val
            },
            valuec(val){
                this.value2 = val
            },
            value1(val){   
                this.$emit('update:valueb',val) //通过 .sync 修饰符实现的双向绑定
            },                                  //当子组件的data给变去更新父组件里的数据
            value2(val){
                this.$emit('update:valuec',val)
            }  
        },
        
        template:`
         <div class='app'>
            <input type='text' v-model='value1'/>
            <input type='text' v-model='value2'/>
         </div>
        `

    })

     new Vue({
         data:{ //实例里的是个对象
            b:'1',
            c:'2'
         },
          template:`
            <div>
              <Test :valueb.sync ='b'  :valuec.sync ='c' ></Test>

              <div>
                 <input v-model = 'b' />
                 <input v-model = 'c' />  
              </div>
            </div>
          `
     }).$mount('#app')
   
   </script>
</body>
</html>


